* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header {
    width: 90vw;
    margin: 0 auto 3rem;
    text-align: center;
    background: rgb(51, 51, 129);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.title {
    line-height: 3.5;
    color: #fff;
    font-size: 4rem;
}

.search-body,
.results-body {
    width: 90vw;
    margin: 0 auto; 
    border-left: .1rem rgb(51, 51, 129) solid;
    border-right: .1rem rgb(51, 51, 129) solid;
    border-bottom: .1rem rgb(51, 51, 129) solid;

    border-radius: .25rem;
    margin-bottom: 2.5rem;
}

.results-body {
    height: 50vh;
}

.param {
    background: rgb(51, 51, 129);
    color: #fff;
    padding: .5rem;
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
}

.input-box {
    display: block;
    width: 100%;
    padding: .25rem;
    margin-bottom: 1.25rem;
}

form {
    padding: 1rem;
}

.btn {
    padding: .5rem .75rem;
    border: none;
    background-color: rgb(224, 221, 221);
    transition: .5s all ease-in-out;
}

.btn:hover {
    background-color: rgb(56, 56, 56);
    color: #fff;
}